<div class="container mt-4">
  <h2>Doctors</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @doctors.each do |doctor| %>
        <tr>
          <td><%= doctor.name %></td>
          <td><%= doctor.email %></td>
          <td>
            <%= link_to 'Show', doctor_path(doctor), class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_doctor_path(doctor), class: 'btn btn-primary btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
